 <div *ngIf="auth.isAuthenticated()">
  <table>
  <tr style="border: 1px solid black;">
    <td>Id</td>
    <td>Titre</td>
    <td>Email</td>
    <td>Longitude</td>
    <td>Latitude</td>
    <td>Adresse 1</td>
    <td>Adresse 2</td>
    <td>Adresse 3</td>
    <td>Supprimer</td>
  </tr>

  <tr *ngFor="let obj of Locations" style="border: 1px solid black;">
    <td>{{obj._id}}</td>
    <td>{{obj.titre}}</td>
    <td>{{obj.email}}</td>
    <td>{{obj.long}}</td>
    <td>{{obj.lat}}</td>
    <td>{{obj.add1}}</td>
    <td>{{obj.add2}}</td>
    <td>{{obj.add3}}</td>
    <button (click)="delete(obj._id)">Supprimer</button>
  </tr>
    
  </table>

  <button (click)="trie()">Générer l'agenda !</button>

<div *ngIf="check == true">
  <table>

  <tr>

   <td></td>
   <td>Lundi</td>
   <td>Mardi</td>
   <td>Mercredi</td>
   <td>Jeudi</td>
   <td>Vendredi</td>
   <td>Samedi</td>
   <td>Dimanche</td>
    
  </tr>

  <tr>
    <td>08-12</td>
    <td *ngIf="size(Locations) > 0;else blank">
    <p>{{Locations[0].titre}}</p>
    <p>{{Locations[0].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 2;else blank">
    <p>{{Locations[2].titre}}</p>
    <p>{{Locations[2].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 4;else blank">
    <p>{{Locations[4].titre}}</p>
    <p>{{Locations[4].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 6;else blank">
    <p>{{Locations[6].titre}}</p>
    <p>{{Locations[6].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 8;else blank">
    <p>{{Locations[8].titre}}</p>
    <p>{{Locations[8].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 10;else blank">
    <p>{{Locations[10].titre}}</p>
    <p>{{Locations[10].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 12;else blank">
    <p>{{Locations[12].titre}}</p>
    <p>{{Locations[12].add1}}</p>
    </td>

    <ng-template #blank>
      &nbsp;
    </ng-template>
  </tr>

  <tr>
    <td>14-18</td>
    <td *ngIf="size(Locations) > 1">
    <p>{{Locations[1].titre}}</p>
    <p>{{Locations[1].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 3">
    <p>{{Locations[3].titre}}</p>
    <p>{{Locations[3].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 5">
    <p>{{Locations[5].titre}}</p>
    <p>{{Locations[5].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 7">
    <p>{{Locations[7].titre}}</p>
    <p>{{Locations[7].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 9">
    <p>{{Locations[9].titre}}</p>
    <p>{{Locations[9].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 11">
    <p>{{Locations[11].titre}}</p>
    <p>{{Locations[11].add1}}</p>
    </td>
    <td *ngIf="size(Locations) > 13">
    <p>{{Locations[13].titre}}</p>
    <p>{{Locations[13].add1}}</p>
    </td>
  </tr>

  </table>
</div>

 </div>